@import "./variables.scss";

.button {
  height: 50px;
  width: 320px;
  margin-top: 64px;
  font-weight: 500;

  padding: 0 32px;
  border-radius: 8px;
  background: var(--purple);
  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  img {
    margin-right: 8px;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
